body,
h1 {
  text-align: center;
}

#book-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  text-align: left;
  margin: 50px;
}

.book-cards {
  white-space: pre-line; /* Allows for using new line char \"n" */
  font-size: 25px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 2%;
  width: 90%;
  height: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 25px 0px;
}

::backdrop {
  background-color: gray;
  opacity: 0.75;
}

dialog {
  width: 30%;
  border-radius: 20px;
}

label {
  font-weight: bold;
  text-align: left;
  padding: 5% 0px 10px 0px;
}
