body {
  text-align: center;
}

#book-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  text-align: left;
  margin: 50px;
}

.book-cards {
  white-space: pre-line; /* Allows for using new line char \"n" */
  font-size: 25px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  margin: 20px 0px 20px 0px;
  padding: 2%;
  width: 90%;
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 25px 0px;
  align-content: end;
}

.book-cards > p {
  color: darkgray;
}

::backdrop {
  background-color: gray;
  opacity: 0.75;
}

dialog {
  width: 30%;
  border-radius: 20px;
  text-align: left;
}

label {
  font-weight: bold;
  text-align: left;
  padding: 5% 0px 10px 0px;
}

button {
  border: none;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: fit-content;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#book-status-read,
#book-status-unread {
  align-self: baseline;
}
